{% assign review = site.data.reviews[include.id] %}
{% assign bottle = site.data.bottles[review.bottle] %}
{% assign producer = site.data.producers[bottle.stats.producer] %}

<!-- blank fields -->
{% assign category = "" %}
{% assign class = "" %}
{% assign region = "" %}
{% assign country = "" %}

<!-- Find category -->
{% if producer.category %}
  {% assign category = producer.category %}
{% elsif producer.kind == "line" %}
  {% assign distillery = site.data.producers[producer.distillery] %}
  {% if distillery.category%}
    {% assign category = distillery.category %}
  {% endif %}  
{% endif %}

<!-- Find class -->
{% if producer.class %}
  {% assign class = producer.class %}
{% elsif producer.kind == "line" %}
  {% assign distillery = site.data.producers[producer.distillery] %}
  {% if distillery.class %}
    {% assign class = distillery.class %}
  {% endif %}
{% endif %}

<!-- Find country -->
{% if producer.country %}
  {% assign country = producer.country %}
{% elsif producer.kind == "line" %}
  {% assign distillery = site.data.producers[producer.distillery] %}
  {% if distillery.country %}
    {% assign country = distillery.country %}
  {% endif %}
{% endif %}

<!-- Find region -->
{% if producer.region %}
  {% assign region = producer.region %}
{% elsif producer.kind == "line" %}
  {% assign distillery = site.data.producers[producer.distillery] %}
  {% if distillery.region %}
    {% assign region = distillery.region %}
  {% endif %}
{% endif %}


{% assign delim = "^" %}
{% assign result = category | append: delim | append: class | append: delim | append: country | append: delim | append: region %}

