{% assign _review = site.data.reviews[include.id] %}
{% assign _bottle = site.data.bottles[_review.bottle] %}
{% assign _producer = site.data.producers[_bottle.stats.producer] %}

<!-- blank fields -->
{% assign _category = "" %}
{% assign _class = "" %}
{% assign _region = "" %}
{% assign _country = "" %}

<!-- Find category -->
{% if _producer.category %}
  {% assign _category = _producer.category %}
{% elsif _producer.kind == "line" %}
  {% assign _distillery = site.data.producers[_producer.distillery] %}
  {% if _distillery.category%}
    {% assign _category = _distillery.category %}
  {% endif %}  
{% endif %}

<!-- Find class -->
{% if _producer.class %}
  {% assign _class = _producer.class %}
{% elsif _producer.kind == "line" %}
  {% assign _distillery = site.data.producers[_producer.distillery] %}
  {% if _distillery.class %}
    {% assign _class = _distillery.class %}
  {% endif %}
{% endif %} 

<!-- Find country -->
{% if _producer.country %}
  {% assign _country = _producer.country %}
{% elsif _producer.kind == "line" %}
  {% assign _distillery = site.data.producers[_producer.distillery] %}
  {% if _distillery.country %}
    {% assign _country = _distillery.country %}
  {% endif %}
{% endif %}

<!-- Find region -->
{% if _producer.region %}
  {% assign _region = _producer.region %}
{% elsif _producer.kind == "line" %}
  {% assign _distillery = site.data.producers[_producer.distillery] %}
  {% if _distillery.region %}
    {% assign _region = _distillery.region %}
  {% endif %}
{% endif %}


{% assign _delim = "^" %}
{% assign include.return = _category | append: _delim | append: class | append: _delim | append: country | append: _delim | append: region %}

