{% assign _review_id = include.id %}
{% assign _review = site.data.reviews[_review_id] %}

{% assign _bottle = site.data.bottles[_review.bottle] %}

{% assign _producer_name = site.data.producers[_bottle.production.producer].name %}
{% assign _bottle_name = _bottle.marketing.name %}
{% assign _age = _bottle.maturation.age %}
{% assign _vintage = _bottle.production.vintage %}
{% assign _abv = _bottle.bottling.abv %}
{% assign _bottler = site.data.bottlers[_bottle.bottling.bottler] %}
{% assign system =  review.review.grade.system %}


{% assign _delim = "^" %}
{% assign return = _producer | append: _delim | append: _expression | append: _delim | append: _age | append: _delim | append: _vintage | append: _delim | append: abv | append: _delim  | append: _bottler | split: _delim %}


{% capture _age_snippet -%}
  {% if _age %}
    {{ _age }}yo
  {% else %}
    NAS
  {% endif %}
{%- endcapture %}

<div>
<a href="{%- include review-href.html id=_review_id -%}">
{% if _producer_name -%}{{ _producer_name }} {% endif -%}
{% if _bottle_name %} "{{_bottle_name}}" {% endif %}
{{_age_snippet}}
{% if _vintage -%} ({{ _vintage }}) {% endif -%}
{% if _abv -%} {{ _abv }}% {% endif -%}
{% if _bottler -%} <em>{{ _bottler.name }}</em> {% endif -%}
</a>
{% if system != "three-tier-2026" %}<span style="color:LightGray;">[legacy]</span>{% endif -%}
</div>
