{% assign _distillery_key = include.id %}

{% assign _reviews = site.data.reviews %}
{% assign _bottles = site.data.bottles %}
{% assign _producers = site.data.producers %}

<div>
{% for r in _reviews %}
    {% assign _bottle_id = r[1].bottle %}
    {% assign _bottle = _bottles[_bottle_id] %}
    {% assign _producer_id = _bottle.production.producer %}
    
    {% if _producer_id == _distillery_key %}
        {% include review.html id=_review %}
    {% elsif _producer.kind == "line" and _producer.distillery == _distillery_key %}
        {% include review.html id=_review %}
    {% endif %}
    <br>
{% endfor %}
</div>