{% assign _distillery_key = include.id %}

{% assign _reviews = site.data.reviews %}

<div>
{% for r in _reviews %}
    {% assign _bottle_id = r[1].bottle %}
    {% assign _bottle = site.data.bottles[_bottle_id] %}
    {% assign _producer = site.data.bottles[_bottle].production.producer %}
    {{r[1].bottle}} - {{_bottle_id}} - {{_bottle}}    
    {% if _distillery_key == _producer %}
        "ja!"
        {% include review.html id=_review %}
    {% else %}
        "nej!"
    {% endif %}
    <br>
{% endfor %}
</div>