{% assign review = site.data.reviews[include.id] %}

{% if review %}
<div class="review">
  {% assign producer = site.data.producers[review.stats.producer] }
  {% assign bottler = site.data.producers[review.stats.producer] }
  {% assign age = review.stats.age}
  <h2>
    {{producer.name}} {{age}}yo {{bottler.name}}
  </h2>
</div>
{% else %}
<p><em>Review not found: {{ include.id }}</em></p>
{% endif %}

<!-- <article class="review"> -->

  <!-- Headline: Producer + Age + Line name -->
  <!-- <h2>
    {{ site.data.producers[review.stats.producer].name }} 
    {% assign line = site.data.producers[review.stats.producer] %}
    {% if line.kind == "line" %}
      {% assign distillery = site.data.producers[line.distillery] %}
      {{ line.name }}
    {% else %}
      {% assign distillery = line %}
    {% endif %}
    {% if review.stats.age %} - {{ review.stats.age }} yo{% endif %}
  </h2> -->

  <!-- Bottle Info -->
  <!-- <h3>Bottle Information</h3>
  <ul>
    {% if review.stats.producer %}<li>Producer: {{ site.data.producers[review.stats.producer].name }}</li>{% endif %}
    {% if line.kind == "line" %}<li>Line: {{ line.name }}</li>{% endif %}
    {% if review.stats.age %}<li>Age: {{ review.stats.age }} years</li>{% endif %}
    {% if review.stats.vintage %}<li>Vintage: {{ review.stats.vintage }}</li>{% endif %}
    {% if review.stats.abv %}<li>ABV: {{ review.stats.abv }}%</li>{% endif %}
    {% if review.stats.cask %}<li>Cask: {{ review.stats.cask }}</li>{% endif %}
    {% if review.stats.natural_color %}<li>Natural color: {{ review.stats.natural_color }}</li>{% endif %}
    {% if review.stats.unchillfiltered %}<li>Unchillfiltered: {{ review.stats.unchillfiltered }}</li>{% endif %}
  </ul> -->

  <!-- Meta Info -->
  <!-- <h3>Meta Information</h3>
  <ul>
    {% if review.meta.whiskybase_id %}<li>Whiskybase ID: {{ review.meta.whiskybase_id }}</li>{% endif %}
    {% if review.meta.availability %}<li>Availability: {{ review.meta.availability }}</li>{% endif %}
    {% if review.meta.price %}
      <li>Price: {{ review.meta.price.amount }} {{ review.meta.price.currency }}</li>
    {% endif %}
    {% if review.meta.sample %}<li>Sample info: {{ review.meta.sample }}</li>{% endif %}
    {% if review.meta.date %}<li>Reviewed on: {{ review.meta.date }}</li>{% endif %}
  </ul> -->

  <!-- Review -->
  <!-- <h3>Tasting Notes</h3>
  {% if review.review.intro %}<p>{{ review.review.intro }}</p>{% endif %}
  {% if review.review.nosing %}
    <h4>Nosing</h4>
    <p>{{ review.review.nosing }}</p>
  {% endif %}
  {% if review.review.sipping %}
    <h4>Sipping / Palate</h4>
    <p>{{ review.review.sipping }}</p>
  {% endif %}
  {% if review.review.comments %}
    <h4>Comments</h4>
    <p>{{ review.review.comments }}</p>
  {% endif %} -->

  <!-- Grade / Score -->
  <!-- {% if review.review.grade %}
    <h3>Grade</h3>
    <p>
      {% if review.review.grade.system %}System: {{ review.review.grade.system }}<br>{% endif %}
      {% if review.review.grade.score %}Score: {{ review.review.grade.score }}{% endif %}
    </p>
  {% endif %} -->

<!-- </article> -->



<!-- {% if whisky %}
<div class="whisky-review">
  <h3>{{ whisky.name }}</h3>
  <p><strong>Age:</strong> {{ whisky.age }}</p>
  <p><strong>Grade:</strong> {{ whisky.grade }}/100</p>

  <ul>
    {% for key in whisky.tasting_notes %}
      <li><strong>{{ key | capitalize }}:</strong> {{ whisky.tasting_notes[key] }}</li>
    {% endfor %}
  </ul>

    {% if whisky.bottle_info.image %}
    <figure class="whisky-image">
        <img
        src="{{ whisky.bottle_info.image.url }}"
        alt="{{ whisky.bottle_info.name }} bottle"
        loading="lazy"
        >
        {% if whisky.bottle_info.image.attribution %}
        <figcaption>{{ whisky.bottle_info.image.attribution }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

</div>
{% else %}
<p><em>Review not found: {{ include.id }}</em></p>
{% endif %}

 -->


