<div class="review-index">
<h2 id="scotch-whisky">Scotch Whisky</h2>
<h3 id="single-malt">Single Malt</h3>
<h4 id="speyside">Speyside</h4>
<div><a href="{%- include review-href.html id='sideburn-35-pst' -%}">Balvenie "Sideburn" 35yo (1989) 51.1% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='benrinnes-14-ch' -%}">Benrinnes 14yo 55.0% <em>Chorlton</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='benrinnes-15-eld-xmas' -%}">Benrinnes 15yo (2006) 56.2% <em>Elixir Distillers</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='caperdonich-27-bwh' -%}">Caperdonich 27yo 52.1% <em>Brühler Whiskyhaus</em></a></div>
<br>
<div><a href="{%- include review-href.html id='convalmore-20-sv-2025' -%}">Convalmore 20yo (1981) 43%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='glen-grant-23-sv' -%}">Glen Grant 23yo (2000) 57.3% <em>Signatory Vintage</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='glen-grant-25-wm' -%}">Glen Grant 25yo (1998) 56.7% <em>Wilson & Morgan</em></a></div>
<br>
<div><a href="{%- include review-href.html id='glen-keith-29-mmd' -%}">Glen Keith 29yo (1993) 46.5% <em>Murray McDavid</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='glenallachie-4' -%}">GlenAllachie 4yo 60.2%</a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='meikle-toir-original' -%}">Meikle Tòir 5yo 50.0%</a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='meikle-toir-7' -%}">Meikle Tòir 7yo (2018) 60.1%</a></div>
<br>
<div><a href="{%- include review-href.html id='glenburgie-39-mos' -%}">Glenburgie 39yo (1983) 48.0% <em>Malts of Scotland</em></a></div>
<br>
<div><a href="{%- include review-href.html id='fiddichside-35-mmd' -%}">Glenfiddich "Fiddichside" 35yo (1989) 46.7% <em>Murray McDavid</em></a></div>
<br>
<div><a href="{%- include review-href.html id='glenrothes-15-nss' -%}">Glenrothes 15yo (2006) 52.1% <em>North Star Spirits</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='glenrothes-26-sv' -%}">Glenrothes 26yo (1997) 52.4% <em>Signatory Vintage</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='glenrothes-29-pst' -%}">Glenrothes 29yo (1996) 45.1% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='glenrothes-36-twj' -%}">Glenrothes 36yo (1986) 41.4% <em>The Whisky Jury</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='linkwood-10-pst' -%}">Linkwood 10yo (2011) 52.1% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='linkwood-15-ca' -%}">Linkwood 15yo (2007) 43.2% <em>Cadenhead's</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='linkwood-15-eld' -%}">Linkwood 15yo (2010) 51.5% <em>Elixir Distillers</em></a></div>
<div><a href="{%- include review-href.html id='linkwood-24-glmo-2023' -%}">Linkwood 24yo (1997) 54.3% <em>Gleann Mór</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='macallan-classic-cut' -%}">Macallan "Classic Cut 2023" NAS 50.3%</a></div>
<br>
<div><a href="{%- include review-href.html id='roseisle-14' -%}">Roseisle 14yo 55.9%</a></div>
<br>
<div><a href="{%- include review-href.html id='tormore-29-mmd' -%}">Tormore 29yo (1995) 42.8% <em>Murray McDavid</em></a></div>
<h4 id="lowlands">Lowlands</h4>
<div><a href="{%- include review-href.html id='auchentoshan-22-sv' -%}">Auchentoshan 22yo (1999) 55.6% <em>Signatory Vintage</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='imperial-27-bwh' -%}">Imperial 27yo (1998) 50.2% <em>Brühler Whiskyhaus</em></a></div>
<div><a href="{%- include review-href.html id='imperial-27-ls' -%}">Imperial 27yo (1998) 42.2%</a></div>
<br>
<div><a href="{%- include review-href.html id='st-magdalene-15-gm' -%}">St. Magdalene NAS (1980) 40.0% <em>Gordon & MacPhail</em></a><span style="color:LightGray;">[legacy]</span></div>
<h4 id="islay">Islay</h4>
<div><a href="{%- include review-href.html id='ardbeg-9-gm' -%}">Ardbeg 9yo (1996) 52.9% <em>Gordon & MacPhail</em></a></div>
<div><a href="{%- include review-href.html id='ardbeg-16-pst' -%}">Ardbeg 16yo (2008) 57.1% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='bowmore-1995-bwh' -%}">Bowmore 15yo (1995) 54.9% <em>Brühler Whiskyhaus</em></a></div>
<div><a href="{%- include review-href.html id='bowmore-22-mmd' -%}">Bowmore 22yo (2003) 54.9% <em>Murray McDavid</em></a></div>
<div><a href="{%- include review-href.html id='bowmore-26-nss' -%}">Bowmore 26yo (1996) 51.1% <em>North Star Spirits</em></a></div>
<br>
<div><a href="{%- include review-href.html id='bruichladdich-11-private' -%}">Bruichladdich 11yo 57.3%</a></div>
<div><a href="{%- include review-href.html id='bruichladdich-14-private' -%}">Bruichladdich (Unpeated) 14yo (2006) 61.4% <em>Private cask bottling</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='bruichladdich-21-pst' -%}">Bruichladdich 21yo (2004) 54.9% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='bunnahabhain-17-feis-ile' -%}">Bunnahabhain "Feis Ile 2023" 17yo 52.6%</a></div>
<div><a href="{%- include review-href.html id='bunnahabhain-30' -%}">Bunnahabhain 30yo 46.3%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='kilchoman-8' -%}">Kilchoman 8yo (2017) 57.6%</a></div>
<br>
<div><a href="{%- include review-href.html id='laphroaig-1998' -%}">Laphroaig "Handfilled - Distillery only" NAS (1998) 54.9%</a></div>
<div><a href="{%- include review-href.html id='laphroaig-25' -%}">Laphroaig 25yo 47.3%</a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='laphroaig-32-twj' -%}">Laphroaig "Islay Single Malt" 32yo (1989) 52.1% <em>The Whisky Jury</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='classic-of-islay-2024' -%}">Undisclosed Islay "Classic of Islay" NAS 56.5% <em>Jack Wiebers Whisky World</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='islay-south-coast-19-bwh' -%}">Undisclosed Islay "Islay South Coast" 19yo 53.8% <em>Brühler Whiskyhaus</em></a></div>
<br>
<div><a href="{%- include review-href.html id='islay-33-pst' -%}">Undisclosed Islay 33yo (1991) 49.1% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<h4 id="highlands">Highlands</h4>
<div><a href="{%- include review-href.html id='ben-nevis-23-twj' -%}">Ben Nevis NAS (1996) 50.4% <em>The Whisky Jury</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='ben-nevis-5-ad' -%}">Ben Nevis 5yo (2015) 61.3% <em>Adelphi</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='ben-nevis-7-sv-100proof' -%}">Ben Nevis 7yo (2019) 57.1% <em>Signatory Vintage</em></a></div>
<div><a href="{%- include review-href.html id='ben-nevis-8-sv' -%}">Ben Nevis 8yo (2013) 46% <em>Signatory Vintage</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='ben-nevis-9-eld-xmas' -%}">Ben Nevis 9yo (2012) 57.8% <em>Elixir Distillers</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='mystery-highland-21' -%}">Ben Nevis "Mystery Highland" 21yo (2000) 53.8% <em>Whiskysite.nl</em></a></div>
<div><a href="{%- include review-href.html id='ben-nevis-27-twj' -%}">Ben Nevis 27yo (1995) 49.5% <em>The Whisky Jury</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='ben-wyvis-31-sv-2025' -%}">Ben Wyvis 31yo (1968) 51.0% <em>Signatory Vintage</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='blair-athol-7-mm' -%}">Blair Athol 7yo (2016) 57.8% <em>Murray McDavid</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='dornoch-5-px' -%}">Dornoch 5yo (2019) 52.2%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='edradour-8-cuvee' -%}">Edradour "Double Malt - Double Cask" 8yo (2013) 46.0%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='glenesk-12-wm' -%}">Glenesk 12yo 40.0%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='glengoyne-14-hl' -%}">Glengoyne 14yo (2008) 50% <em>Hunter Laing</em></a></div>
<br>
<div><a href="{%- include review-href.html id='croftengea-13-nss' -%}">Croftengea 13yo (2007) 49.5% <em>North Star Spirits</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='inchmurrin-23-lt-2023' -%}">Inchmurrin 23yo (1997) 48.5% <em>Liquid Treasures</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='inchmurrin-24-chwh-2023' -%}">Inchmurrin 24yo (1997) 47.7% <em>Chorlton</em></a><span style="color:LightGray;">[legacy]</span></div>
<h4 id="islands">Islands</h4>
<div><a href="{%- include review-href.html id='unnamed-orkney-13-sv' -%}">Highland Park 13yo (2009) 46.0% <em>Signatory Vintage</em></a></div>
<div><a href="{%- include review-href.html id='coasts-and-shores-15-bbr' -%}">Highland Park "Coasts & Shores" 15yo (2008) 61.8% <em>Berry Bros. & Rudd</em></a></div>
<div><a href="{%- include review-href.html id='park-life-20' -%}">Highland Park "Park Life" 20yo (2004) 55.0% <em>Uncharted Whisky Co.</em></a></div>
<div><a href="{%- include review-href.html id='park-life-22' -%}">Highland Park "Park Life" 22yo (2003) 55.0% <em>Uncharted Whisky Co.</em></a></div>
<div><a href="{%- include review-href.html id='highland-park-32-ca' -%}">Highland Park 32yo (1992) 56.0% <em>Cadenhead's</em></a></div>
<br>
<div><a href="{%- include review-href.html id='jura-superstition' -%}">Isle of Jura NAS 43%</a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='jura-12' -%}">Isle of Jura 12yo 40%</a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='jura-22-dl' -%}">Isle of Jura 22yo (1992) 47.9% <em>Douglas Laing</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='tobermory-14-redwine' -%}">Tobermory 14yo (2008) 57.7%</a></div>
<div><a href="{%- include review-href.html id='ledaig-30-pst' -%}">Ledaig 30yo (1995) 46.9% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<h4 id="campbeltown">Campbeltown</h4>
<div><a href="{%- include review-href.html id='kilkerran-batch6' -%}">Kilkerran "Heavily Peated Batch 6" NAS 57.4%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='springbank-5-100proof' -%}">Springbank 5yo 57.1%</a></div>
<div><a href="{%- include review-href.html id='springbank-10-cs-2023' -%}">Springbank "Palo Cortado Matured" 10yo (2013) 55%</a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='springbank-13-local-barely-2023' -%}">Springbank "Local Barley" 13yo (2010) 54.1%</a></div>
<div><a href="{%- include review-href.html id='springbank-14-dutypaid-fshhd' -%}">Springbank "Duty Paid Sample" 14yo (2002) 50.9%</a></div>
<div><a href="{%- include review-href.html id='springbank-15-dutypaid-bbn' -%}">Springbank "Duty Paid Sample" 15yo (2007) 56.5%</a></div>
<h3 id="single-grain">Single Grain</h3>
<div><a href="{%- include review-href.html id='cambus-24-tbwc' -%}">Cambus "Batch 2" 24yo 49.7% <em>That Boutique-y Whisky Company</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='cambus-26-je' -%}">Cambus 26yo (1993) 55.4% <em>James Eadie</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='cambus-30-mom' -%}">Cambus 30yo (1991) 50.8% <em>Master of Malt</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='cameronbridge-39-mom' -%}">Cameronbridge 39yo (1979) 44.6% <em>Master of Malt</em></a><span style="color:LightGray;">[legacy]</span></div>
<div><a href="{%- include review-href.html id='cameronbridge-40-jw' -%}">Cameronbridge 40yo (1984) 44.5% <em>Jack Wiebers Whisky World</em></a></div>
<br>
<div><a href="{%- include review-href.html id='girvan-40-mom' -%}">Girvan 40yo (1985) 49.0% <em>Master of Malt</em></a></div>
<br>
<div><a href="{%- include review-href.html id='north-british-16-dt' -%}">North british 16yo (2009) 54.5% <em>Duncan Taylor</em></a></div>
<br>
<div><a href="{%- include review-href.html id='north-of-scotland-46-mom' -%}">North of Scotland 46yo (1971) 41.0% <em>Master of Malt</em></a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="blended-malt">Blended Malt</h3>
<div><a href="{%- include review-href.html id='ncnoch' -%}">Blended Malt "NcNoch" 5yo 48.5% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='ncnoch-px' -%}">Blended Malt "NcNoch" 5yo 48.5% <em>Thompson Bros.</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='old-school-malt-31-sv-2025a' -%}">Signatory Vintage "Old School Malt" 31yo 43.5%</a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="blended-grain">Blended Grain</h3>
<div><a href="{%- include review-href.html id='blended-grain-30-tbwc' -%}">That Boutique-y Whisky Company (Blended Grain Scotch Whisky) "Blended Grain Scotch Whisky" 30yo 45.8% <em>That Boutique-y Whisky Company</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='tbwc-blended-grain-3' -%}">That Boutique-y Whisky Company (Blended Grain Scotch Whisky) "Blended Grain \#1 Batch 3" 45yo (1976) 44.2% <em>That Boutique-y Whisky Company</em></a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="blended-scotch-whisky">Blended Scotch Whisky</h3>
<div><a href="{%- include review-href.html id='johnnie-walker-black-ruby' -%}">Johnnie Walker "Black Ruby" NAS 40%</a></div>
<br>
<div><a href="{%- include review-href.html id='johnnie-walker-double-black' -%}">Johnnie Walker "Double Black" NAS 40%</a></div>
<br>
<div><a href="{%- include review-href.html id='johnnie-walker-gold' -%}">Johnnie Walker "Gold" NAS 40.0%</a></div>
<br>
<div><a href="{%- include review-href.html id='johnnie-walker-red-old' -%}">Johnnie Walker "Red (1970s)" NAS 40%</a></div>
<br>
<div><a href="{%- include review-href.html id='nectarosity' -%}">Compass Box "Nectarosity" NAS 46%</a></div>
<br>
<div><a href="{%- include review-href.html id='johnnie-walker-ultimate' -%}">Johnnie Walker "Ultimate 18" 18yo 40%</a></div>
<br>
<div><a href="{%- include review-href.html id='maltman-50' -%}">Meadowside Blending "The Maltman Blended Scotch Whisky" 50yo 44.9% <em>Meadowside Blending</em></a><span style="color:LightGray;">[legacy]</span></div>
<h2 id="irish-whiskey">Irish Whiskey</h2>
<h3 id="single-malt">Single Malt</h3>
<div><a href="{%- include review-href.html id='bushmills-11' -%}">Bushmills Single Malt 9yo (2011) 56.3%</a></div>
<div><a href="{%- include review-href.html id='bushmills-9' -%}">Bushmills Single Malt 9yo (2011) 56.3%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='teeling-21' -%}">Teeling Whiskey Company "Rising Reserve No. 2" 21yo 46%</a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='irish-diamonds-22' -%}">"Irish Diamonds" 21yo (2002) 56.4% <em>Alambic Classique</em></a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="single-pot-still">Single Pot Still</h3>
<h3 id="single-grain">Single Grain</h3>
<h3 id="blended-irish-whiskey">Blended Irish Whiskey</h3>
<div><a href="{%- include review-href.html id='irish-whiskey-21-tbwc' -%}">That Boutique-y Whisky Company (Irish Whiskey) "Irish Whiskey" 21yo 45.8%</a></div>
<h2 id="world-whiskey">World Whiskey</h2>
<h3 id="sweden">Sweden</h3>
<div><a href="{%- include review-href.html id='smogen-2012-bbr' -%}">Smögen NAS (2012) 59.6% <em>Berry Bros. & Rudd</em></a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="denmark">Denmark</h3>
<div><a href="{%- include review-href.html id='stauning-4-bbr' -%}">Stauning NAS (2017) 58.9% <em>Berry Bros. & Rudd</em></a><span style="color:LightGray;">[legacy]</span></div>
<br>
<div><a href="{%- include review-href.html id='thy-2019-bbr' -%}">Thy Whisky Distillery NAS (2019) 57.6% <em>Berry Bros. & Rudd</em></a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="finland">Finland</h3>
<div><a href="{%- include review-href.html id='teerenpeli-2013-bbr' -%}">Teerenpeli NAS (2013) 59.9% <em>Berry Bros. & Rudd</em></a><span style="color:LightGray;">[legacy]</span></div>
<h3 id="germany">Germany</h3>
<h3 id="taiwan">Taiwan</h3>
<h3 id="the-netherlands">The Netherlands</h3>
<h2 id="eau-de-vie">Eau-de-vie</h2>
<h3 id="cognac">Cognac</h3>
<div><a href="{%- include review-href.html id='jlp-15' -%}">Jean-Luc Pasquet 15yo (2006) 50.1%</a></div>
<h3 id="armagnac">Armagnac</h3>
<h2 id="other">Other</h2>
<h3 id="spirit-drink">Spirit Drink</h3>
</div>