{% assign _review = site.data.reviews[include.id] %}
{% assign _bottle = site.data.bottles[_review.bottle] %}

{% assign _producer_name = site.data.producers[_bottle.stats.producer].name %}
{% assign _expression = _bottle.stats.expression %}
{% assign _age = _bottle.stats.age %}
{% assign _vintage = _bottle.stats.vintage %}
{% assign _abv = _bottle.stats.abv %}
{% assign _bottler = site.data.bottlers[_bottle.stats.bottler] %}
{% assign system =  review.review.grade.system %}

{% assign _delim = "^" %}
{% assign return = _producer | append: _delim | append: _expression | append: _delim | append: _age | append: _delim | append: _vintage | append: _delim | append: abv | append: _delim  | append: _bottler | split: _delim %}


<div>
{% if _producer_name -%}{{ _producer_name }} {% endif -%}
{% if _expression -%}{{ _expression }} {% endif -%}
{% if _age -%} {{ _age }}yo {% endif -%}
{% if _vintage -%} ({{ _vintage }}) {% endif -%}
{% if _abv -%} {{ _abv }}% {% endif -%}
{% if _bottler -%} <em>{{ _bottler.name }}</em> {% endif -%}
{% if system != "three-tier-2026" %}<span style="color:Gray;">[legacy]</span>{% endif -%}
</div>

<div> hej</div>
<div> svejs</div>