{% assign review = site.data.reviews[include.id] %}

{% if review %}
<div class="review">
  {% assign bottle = site.data.bottles[review.bottle] %}
  {% assign producer = site.data.producers[bottle.stats.producer] %}
  {% assign bottler = site.data.bottlers[bottle.stats.bottler] %}
  {% assign age = bottle.stats.age %}
  {% assign vintage = bottle.stats.vintage %}
  {% assign abv = bottle.stats.abv %}
  {% assign cask = bottle.stats.cask %}
  {% assign abv = bottle.stats.abv %}
  
  <!-- Header -->
  {% capture producer_distillery %}
    {{producer.name}}
    {% if producer.kind == "line"%} ({{site.data.producers[producer.distillery].name}}) {% endif %}
  {% endcapture %}

  {% capture age_vintage %}
    {{age}}yo {% if vintage %} ({{vintage}}) {% endif %}
  {% endcapture %}

  <h2>
    {{producer_distillery}} {{age_vintage}} {{abv}}% <br> <em>{{bottler.name}}</em>
  </h2>

  <!--Image -->
  {% assign image = bottle.meta.image %}
  {% assign wb_id = bottle.meta.whiskybase_id %}
  {% if wb_id %}
    {% assign wb_url = "https://www.whiskybase.com/whiskies/whisky/" | append: wb_id %}
  {% endif %}


  {% if image %}
  <figure class="bottle-image">
    {% if wb_url %}
      <a href="{{ wb_url }}" target="_blank" rel="noopener">
        <img src="{{ image.url }}" alt="WB{{wb_id}}" loading="lazy">
      </a>
    {% else %}    
      <img src="{{ image.url }}" loading="lazy">
    {% endif %}
  </figure>
  {% endif %}

  <!-- Info part -->
  {% assign cask = bottle.stats.cask %}
  {% assign is_nc = bottle.stats.natural_color %}
  {% assign is_ucf = bottle.stats.unchillfiltered %}
  {% assign is_blind = review.sample_context.blind %}
  {% assign availability = review.market_context.availability %}
  {% assign sample = review.sample_context.desc %}  

  <!--   
  {% capture integrity %}
    {{% if is_nc %}}
  {% endcapture %} -->

  <p style="color:Gray;">
    Maturation: {{cask}} <br>
    {% if is_nc %} Natural color {% endif %} {% if is_uch %} & Unchill-filtered {% endif %} {% if is_nc or is_ucf %} <br> {% endif %}
    {{availability}} <br>
    Review: {% if is_blind %} ◼️ Blind tasting; {% endif %} {{sample}}  
  </p>

  <!-- Review part -->
  {% assign system = review.grade.system %}
  
  {% if review.review.intro %} <p>{{review.review.intro}}</p> {% endif %} 
  {% if review.review.nosing %} <p><b>Nosing:</b> {{review.review.nosing}} </p> {% endif %}
  {% if system == "multidim-25"} Deliciousness: {{review.grade.nose_deliciousness}}  Fun factor: {{review.grade.nose_fun_factor}} {% endif %}
  {% if review.review.sipping %} <p><b>Sipping:</b> {{review.review.sipping}} </p> {% endif %}
  {% if system == "multidim-25"} Deliciousness: {{review.grade.sip_deliciousness}}  Fun factor: {{review.grade.sip_fun_factor}} {% endif %}
  {% if review.review.comments %} <p>{{review.review.comments}}</p> {% endif %}

  <hr>
</div>
{% else %}
<p><em>Review not found: {{ include.id }}</em></p>
{% endif %}
