{% assign _distillery_key = include.id %}

{% assign _reviews = site.data.reviews %}
{% assign _bottles = site.data.bottles %}
{% assign _producers = site.data.producers %}


<div>
{% for r in _reviews %}
    {% assign _review = r[1] %}
    {% assign _bottle_id = _review.bottle %}
    {% assign _bottle = _bottles[_bottle_id] %}
    {% assign _producer_id = _bottle.production.producer %}
    
    {% if _producer_id == _distillery_key %}
        {% assign _display_review = true %}
    {% elsif _producer.kind == "line" and _producer.distillery == _distillery_key %}
        {% assign _display_review = true %}
    {% else %}
        {% assign _display_review = false %}    
    {% endif %}

    {% if _display_review %}
        {% assign _review_id = r[0] %}
        {% assign p = site.posts | where: "slug", _review.post | first %}
        <p>
            <a href="{%- include review-href.html id=_review_id -%}">
            post link with heading -new
            </a>
        </p>
        <em><span style="color:LightGray;">Reviewed on {{r[1].date}} in post XXX</span></em>
        
        {% include review.html id=_review_id %}
    {% endif %}
{% endfor %}
</div>