Test

<div class="review-index">

{% assign categories = site.data.categories %}
{% assign reviews = site.data.reviews %}


{%- for r in reviews -%}
  {%- assign review_id = r[0] -%}
  {%- include category-class-country-region.html id=review_id return=return -%}
  {{return.category}} / {{return.class}}
{%- endfor -%}



{% for category in categories %}
  <h2 id="{{ category.name | slugify }}">{{ category.name }}</h2>

  {% for item in category.items %}
    <h3 id="{{ item.name | slugify }}">{{ item.name }}</h3>
    {% if item.items %}
      {% for subitem in item.items %}
        <h4 id="{{ sub.name | slugify }}">{{ subitem.name }}</h4>

        

      {% endfor %}
    {% else%}
      XXXXXXXXXXXXXX
    {% endif %}
  {% endfor %}
{% endfor %}

</div>


