<span class="score-box" tabindex="0">ⓘ
    <span class="score-box-text">
        ⁎ : Conditionally noteworthy. High quality that stands out clearly within its intended context of price and style. Worth buying. <br>
        ⁎⁎ : Absolute excellence. Exceptional quality that stands among the great whiskies, regardless of age, price, or category. <br>
        ⁎⁎⁎ : Transcendent greatness. Profound quality and impact that represents a pinnacle of experience. Worth a splurge, even if only to experience it once.
    </span>
</span>